<!Doctype html>
<html>
<head>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="">
      <img src="/static/ethiopia.jpg" width="30" height="30" alt="">
    </a>
  </nav>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
    <title>Home</title>
   
</head>
  <body>
    <div class="container">
            <h1>Welcome to Hashim Jobs Website</h1>
      <h3 class="text-center"> Ilike your things</h3>
      <h4 > Internet   Of   the  things</h4>
      
      <img class="img-fluid" src="https://media.istockphoto.com/id/2198454540/photo/ethiopia-puzzle-map-forming-the-country-with-copy-space.jpg?s=1024x1024&w=is&k=20&c=BIwU31lBNle6of-jqHcxiYhZYvRGnqPJxKtepr19424=" height="250" width="500" alt="Ethiop">
  
      <p>
        you are my best friend in this live no body can separate us at all, please be noted and do not worry about anything
      </p>
      <h2>open positions for sudanese</h2>
      <div>
        {%for jobs in jobs%}
   <div> {{jobs['title'],jobs['location']}}</div>
        {%endfor%}
      </div>
      <div style="text-align:right">
        <button style="align-items:center;" class="btn btn-primary btn-lg "> contact us</button>
      </div>
      </div>
      
  </body>
</html>  

