<!Doctype html>
<html>
  <head>
    <title>Home</title>
    <style>
      h1{
        font-family:helvetica;
        font-size: 30px;
        font-weight: bold;
        color: rgb(0,100,100);
      }
      h2{
        font-family:helvetica;
        font-size: 20px;
        font-weight: bold;
        color: rgb(0,100,100);
      }
    </style>
  </head>
  <body>
    <br>
    
    
    <h1>Welcome to Hashim Jobs Website</h1>
    <br>
    
    
    <img src="https://media.istockphoto.com/id/2198454540/photo/ethiopia-puzzle-map-forming-the-country-with-copy-space.jpg?s=1024x1024&w=is&k=20&c=BIwU31lBNle6of-jqHcxiYhZYvRGnqPJxKtepr19424=" height="250" width="500" alt="Ethiop">

    <p>
      you are my best friend in this live no body can separate us at all, please be noted and do not worry about anything
    </p>
    <h2>open positions</h2>
    <button> contact us</button>
  </body>
</html>  

