<!DOCTYPE html>
<html>
  <head>
    <title>my job</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384
    
  </head>
   
  <body>
  <div class="container">
    <h1>Job Title </h1>
    <p style= "font-size: 20px, font-weight: bold">{{job['title']}}</p>
    <h2>Location</h2>
    <p>{{job['location']}}</p>
    <h3>Salary</h3>
    <p>{{job['salary']}}</p>
    <br>
    <h4>Description</h4>
    <p>{{job['description']}}</p>
  </div>
    {%include 'application_form.html'%}
     
  </body>
</html>

      